<% provide(:title, 'Home') %>

<!--用户登录之后的页面是相当于新浪微博一样的首页-->
<% if signed_in? %>
  <div class="container-fluid">
    <div class="row-fluid">        

<!--这里输入框-->        
  <div class="span9">       
      <%= form_for(@tweet) do |f| %>
        <% if f.object.errors.any? %>
        <div id="error_explanation">
          <div class="alert alert-error">
            The form contains <%= pluralize(f.object.errors.count, "error") %>.
          </div>
          <ul>
            <% f.object.errors.full_messages.each do |msg| %>
              <li>* <%= msg %></li>
            <% end %>
          </ul>
        </div>
        <% end %>

        <div class="field">
        <h4>New tweet:</h4>
          <%= f.text_area :content, placeholder: "post here..." %>
        </div>
        <%= f.submit "Post", class: "btn btn-large btn-primary" %>
      <% end %>

<hr>
<!--这里是信息流部分-->  
    <div class="row-fluid">
      <div class="span10 offset1">    
        <h4>Streamline:</h4>
        
        <% if @feed_items.any? %>
          <%= render partial: 'tweets/feed_item', collection: @feed_items %>
          <%= will_paginate @feed_items %>
        <% end %>

      </div>
    </div>  
<!--信息流部分结束-->    


    </div>
<!--左侧部分结束-->





<!--这里是右侧边栏-->
  <div class="span3">
          <div class="well sidebar-nav">
          <center>  <%= gravatar_for current_user %> </center>
            <br>
           <center><b><%= current_user.name %></b>  </center>
            <br>    
            <center><b><%= pluralize(current_user.tweets.count, "tweet") %></b>  </center>
                    <% @user ||= current_user %>
                    <a href="<%= following_user_path(@user) %>">
                    <strong><%= @user.followed_users.count %></strong>
                    following
                    </a>
                    | 
                    <a href="<%= followers_user_path(@user) %>">
                    <strong><%= @user.followers.count %></strong>
                    followers
                    </a>
            <hr>

    <ul class="nav nav-list">
        <li class="nav-header"></li>
          <li><span class="label">我的关注（<%= @user.followed_users.count %>）</span></li>
            <ul class="thumbnails">
          <li class="span5 thumbnail">
            <%= image_tag("tweet.jpg", class:"img-rounded")%>
          </li>
          <li class="span5 thumbnail">
            <%= image_tag("school.jpg", class:"img-rounded")%>
          </li>
      </ul> 
      <a href="<%= following_user_path(@user) %>">more &raquo;</a>
        <hr>
        <li><span class="label">我的粉丝（<%= @user.followers.count %>）</span></li>
                      <ul class="thumbnails">
          <li class="span5 thumbnail">
            <%= image_tag("tweet.jpg", class:"img-rounded")%>
          </li>
          <li class="span5 thumbnail">
            <%= image_tag("school.jpg", class:"img-rounded")%>
          </li>
      </ul>
      <p><a href="<%= followers_user_path(@user) %>">more &raquo;</a></p>   <hr>
        <li><span class="label">我的课程</span></li>
            <ul class="thumbnails">
          <li class="span5 thumbnail">
            <%= image_tag("tweet.jpg", class:"img-rounded")%>
          </li>
          <li class="span5 thumbnail">
            <%= image_tag("school.jpg", class:"img-rounded")%>
          </li>
      </ul> 
      <p><a href="#">more &raquo;</a></p>   <hr>
        <li><span class="label">我的沙龙</span></li>
            <ul class="thumbnails">
          <li class="span5 thumbnail">
            <%= image_tag("tweet.jpg", class:"img-rounded")%>
          </li>
          <li class="span5 thumbnail">
            <%= image_tag("school.jpg", class:"img-rounded")%>
          </li>
      </ul> 
      <p><a href="#">more &raquo;</a></p>
    </ul>
          

          </div><!--/.well -->
        </div><!--/span-->
      
      </div><!--/row-->
    </div>












<!--未登录时候的页面，是网站介绍-->
<% else %>
<div class="container-narrow">
<br>
<!--幻灯片 Carousel in Bootstrap-->
   <div id="myCarousel" class="carousel slide">
   
    <!--右上角的指示器-->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>

    <!-- Carousel items -->
            <div class="carousel-inner">
              <div class="active item img-rounded">
                <center><%= image_tag("school.jpg") %></center>
                <div class="carousel-caption">
                  <font color="#fff"><h4>这是一个线上的校园</h4>
                  <h5>在这里，老师可以创建课程，发布课程信息, 学生可以提交问题，跟踪课程。</h5></font>
                </div>
              </div>

              <div class="item">
                <center><%= image_tag("tweet.jpg") %></center>
                <div class="carousel-caption">
                  <font color="#fff"><h4>这是一个社交网络</h4>
                  <h5>随时随地玩转微博，随时随地跟你的同学保持联系。</h5></font>
                </div>
              </div>

              <div class="item">
                <center><%= image_tag("forum.jpg") %></center>
                <div class="carousel-caption">
                  <font color="#fff"><h4>这是一个小圈子</h4>
                  <h5>在这里，随意创建兴趣小组，跟你的圈中好友一起探讨人生吧</h5></font>
                </div>
              </div>

              
            </div>
            <a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
            <a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
</div>
<!--幻灯片部分完-->

      <div class="jumbotron">
        <h1>CourseSalon, kindle your online class!</h1>
        <p class="lead">课程沙龙，致力于社会化的线上教育平台。<%= link_to "Learn more", about_path %></p>
        <a class="btn btn-large btn-success" href="/signup">Sign up</a>
      </div>

      <hr>

      <div class="row-fluid marketing">
        <div class="span6">
          <h4><i class="icon-calendar"></i>课程</h4>
          <p>教师用户创建课程，发布课程信息。学生用户通过访问课程页面，查看课程信息。</p>

          <h4><i class="icon-question-sign"></i>问答</h4><p>提供问答功能。学生在课程页面提问累计活跃积分，教师用户通过回答累计积分。</p>
        </div>

        <div class="span6">
           <h4><i class="icon-camera"></i>社交</h4><p>学生用户，教师用户之间可以进行社交，通过关注其他用户，得到其他用户发布的信息及更新。</p>
          
          <h4><i class="icon-user"></i>小组</h4>
          <p>用户可以自行创建小组，组内提供讨论等功能。</p>
        </div>
</div>

<p class="pull-right"><a href="#">Back to top</a></p>

<% end %>
