<% provide(:title, 'Log in') %>

<div class="form-signin">
	<%= form_tag sessions_path do %>
	
		<h2 class="form-signin-heading">Log in</h2>
    
		<%= label_tag :email %>
		<%= text_field_tag :email, params[:email] %>

		<%= label_tag :password %>
		<%= password_field_tag :password, params[:password]%>

		<label class="checkbox">
          <input type="checkbox" value="remember-me"> Remember me
        </label>
		
		<button class="btn btn-large btn-success" type="submit">Log in</button>
		<p><%= link_to "forget password?", '#'%></p>

	<% end %>
</div>