<% provide(:title, 'All users') %>
<br>
<h1>Users in our site:</h1>
	

	<%= will_paginate %>

    <div class="row-fluid">
        <div class="span10 offset1">   
 	       <ul class="media-list">

  	        <% @users.each do |user| %>
    	        <li class="media">
        	    <div class="pull-left img-circle" > 
                <%= gravatar_for user %></div>

                <div class="media-body">
              		<% if user.role == 0 %>
                  <h3 class="media-heading"><%= link_to "Teacher: " + user.name, user %></h3>
                  <% else %>
                  <h3 class="media-heading"><%= link_to "Student: " + user.name, user %></h3>
                  <% end %>
                  <b>第 <%= user.id %> 位用户</b>
                </div>
                </li>
            <hr>
            <% end %>
	
	        </ul>
	    </div>
    </div>  
   	
   	<%= will_paginate %>
