<% provide(:title, @user.name) %>
  <div class="container-fluid">
    <div class="row-fluid">        

<!--这里是Calendar+streamline-->        
  <div class="span9">       
    <div class="hero-unit">
      <h3>Hi there, I am <%= @user.name %>. </h3>
    </div> 
<!--这里是微博部分-->  
    <div class="row-fluid">
      <div class="span10 offset1">    
        

    <% if @user.tweets.any? %>
      <h3>I've post ( <%= pluralize(@user.tweets.count, ") tweet") %> : </h3>
      <ol class="tweets">
        <%= render @tweets %>
      </ol>
      <%= will_paginate @tweets %>
    <% end %>

      </div>
    </div>  
<!--微博部分结束-->    
    </div>
<!--左侧部分结束-->


<!--这里是右侧边栏-->
  <div class="span3">
          <div class="well sidebar-nav">
          <center>  <%= gravatar_for @user %> </center>
            <br>
           <center><b><%= @user.name %></b>  </center>
<!--这里是加关注-->            
<% if current_user.id != @user.id %>
  <center>
    <button class="btn btn-small btn-primary" type="button">Follow</button>
  </center>
<% end %>
            <br>    
            <hr>
    <ul class="nav nav-list">
        <li class="nav-header"></li>
          <li><span class="label">我的朋友</span></li>
            <ul class="thumbnails">
          <li class="span5 thumbnail">
            <%= image_tag("tweet.jpg", class:"img-rounded")%>
          </li>
          <li class="span5 thumbnail">
            <%= image_tag("school.jpg", class:"img-rounded")%>
          </li>
      </ul> 
      <a href="#">more &raquo;</a>
        <hr>
        <li><span class="label">我的课程</span></li>
                      <ul class="thumbnails">
          <li class="span5 thumbnail">
            <%= image_tag("tweet.jpg", class:"img-rounded")%>
          </li>
          <li class="span5 thumbnail">
            <%= image_tag("school.jpg", class:"img-rounded")%>
          </li>
      </ul>
      <p><a href="#">more &raquo;</a></p>   <hr>
        <li><span class="label">我的沙龙</span></li>
            <ul class="thumbnails">
          <li class="span5 thumbnail">
            <%= image_tag("tweet.jpg", class:"img-rounded")%>
          </li>
          <li class="span5 thumbnail">
            <%= image_tag("school.jpg", class:"img-rounded")%>
          </li>
      </ul> 
      <p><a href="#">more &raquo;</a></p>
    </ul>
          

          </div><!--/.well -->
        </div><!--/span-->
      
      </div><!--/row-->
    </div>
