<% provide(:title, 'Course center') %>

<!--教师用户可以创建课程-->
<div class="container-fluid">
  <div class="row-fluid">        

<!--这里是创建课程页面-->        
  <div class="span9">       
    <div class="hero-unit">
        By now, there are <h3 class="label"><%= @courses.count %></h3> courses in our site.
        <a class="btn btn-large btn-success" href="#调用发送微博接口！">Invite your teacher!</a>
    </div> 

<hr>
<!--这里是信息流部分-->  
    <div class="row-fluid">
      <div class="span10 offset1">    
<h3>Courses:</h3>

  <%= will_paginate %>

    <div class="row-fluid">
        <div class="span10 offset1">   
         <ul class="media-list">

            <% @courses.each do |course| %>
              <li class="media">
              <div class="pull-left img-circle" > 
                <%= gravatar_for course.user %></div>

                <div class="media-body">
                 
                  <h3 class="media-heading ">
                    <div class="label label-info"><%= course.user.name %></div> 
                    <%= link_to course.name, course %>
                  </h3>
                 
                  <b>第 <%= course.id %> 个课程</b>
                </div>
                </li>
            <hr>
            <% end %>
  
          </ul>
      </div>
    </div>  
    
    <%= will_paginate %>


      </div>
    </div>  
<!--信息流部分结束-->    

  </div>
<!--左侧部分结束-->





<!--这里是右侧边栏-->
  <div class="span3">
          <div class="well sidebar-nav">
          <center>  <%= gravatar_for current_user %> </center>
            <br>
           <center><b><%= current_user.name %></b>  </center>
            <br>    

                    <% @user ||= current_user %>
                    <a href="<%= following_user_path(current_user) %>">
                    <strong class="label label-info"><%= @user.followed_users.count %></strong>
                    following
                    </a>
                    | 
                    <a href="<%= followers_user_path(current_user) %>">
                    <strong class="label label-info"><%= current_user.followers.count %></strong>
                    followers
                    </a>
                    <br>

                    <a href="<%= user_path(current_user) %>">
                    <strong class="label label-info"><%= current_user.tweets.count %></strong>
                    tweet(s)
                    </a>
                    <hr>

                  <% if current_user.role == 0 %>
                    <div class="label label-info">教师用户</div>
                    <br>
                    <a class="btn btn-large btn-success" href="courses/new">创建课程！</a>
                    <br>
                    <a class="btn btn-large btn-primary" href="#">管理课程！</a>
                    
                    <% else %>
                    <div class="label label-info">学生用户</div>
                    <br>
                    <a class="btn btn-large btn-primary" href="#">管理课程！</a>
                  <% end %>

            <hr>

    <ul class="nav nav-list">
        <li class="nav-header"></li>
          <li><span class="label">我的关注（<%= current_user.followed_users.count %>）</span></li>
            <ul class="thumbnails">
          <li class="span5 thumbnail">
            <%= image_tag("tweet.jpg", class:"img-rounded")%>
          </li>
          <li class="span5 thumbnail">
            <%= image_tag("school.jpg", class:"img-rounded")%>
          </li>
      </ul> 
      <a href="<%= following_user_path(current_user) %>">more &raquo;</a>
        <hr>
        <li><span class="label">我的粉丝（<%= current_user.followers.count %>）</span></li>
                      <ul class="thumbnails">
          <li class="span5 thumbnail">
            <%= image_tag("tweet.jpg", class:"img-rounded")%>
          </li>
          <li class="span5 thumbnail">
            <%= image_tag("school.jpg", class:"img-rounded")%>
          </li>
      </ul>
      <p><a href="<%= followers_user_path(current_user) %>">more &raquo;</a></p>   <hr>
        <li><span class="label">我的课程</span></li>
            <ul class="thumbnails">
          <li class="span5 thumbnail">
            <%= image_tag("tweet.jpg", class:"img-rounded")%>
          </li>
          <li class="span5 thumbnail">
            <%= image_tag("school.jpg", class:"img-rounded")%>
          </li>
      </ul> 
      <p><a href="#">more &raquo;</a></p>   <hr>
        <li><span class="label">我的沙龙</span></li>
            <ul class="thumbnails">
          <li class="span5 thumbnail">
            <%= image_tag("tweet.jpg", class:"img-rounded")%>
          </li>
          <li class="span5 thumbnail">
            <%= image_tag("school.jpg", class:"img-rounded")%>
          </li>
      </ul> 
      <p><a href="#">more &raquo;</a></p>
    </ul>
          

          </div><!--/.well -->
        </div><!--/span-->
      
      </div><!--/row-->
    </div>