<!DOCTYPE html>
<html>
<head>
  <title>CourseSalon &middot; <%= yield(:title)%></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>

<body>
<!-- Here is Navabar-->
<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href='#'>CourseSalon</a>
      <ul class="nav">
        <li class="active"><%= link_to "Home", '#' %></li>
        <li><%= link_to "Users", '#' %></li>            <li><%= link_to "Courses", '#' %></li>
      </ul>
      <ul class="nav pull-right">
        <li><%= link_to "Sign in", '#' %></li>
      </ul>
    </div>
  </div>
</div>

<!-- Here is the main page-->
<%= yield %>

<!-- Here is footer -->
<hr>
<footer>
  <p>&copy; 2013 John &middot; <a href="#">About</a> &middot; <a href="#">Blog</a></p>
</footer>

</body>
</html>