<!DOCTYPE html>
<html>
<head>
  <title>CourseSalon &middot; <%= yield(:title)%></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>

<body>
<!-- Here is Navabar-->
<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">

      <a class="brand" href="/">CourseSalon</a>
      
      <ul class="nav">
      <!-- 这里active还需要改进，让每一个当前页面都能够激活 <li class="active"><%= link_to "Home", root_path %></li> -->
        <% if current_user %>
          <li>  <%= link_to "Home", current_user %> </li>
        <% else  %>
          <li> <%= link_to "Home", root_url %>   </li>
        <% end %>
      
        <li><%= link_to "Courses", '#' %></li>
        <li><%= link_to "Salons   ", '#' %></li>
        <li><%= link_to "   Toolbox", '#' %></li>
      </ul>
      <ul class="nav pull-right">
        <% if current_user %>
          <li><%= link_to current_user.name, current_user %></li>
              <!--**这里千万要注意**，添加method为delete，否则会调用show方法\
                  而session_path后面一定要传一个参数，原因未知。。。。-->
          <li><%= link_to " Log out", session_path('current'), 
                  method:"delete" %> </li>  
        <% else %>
          <li><%= link_to "Log in", login_path %></li>
        <% end %>
      </ul>
    </div>
  </div>
</div>

<!-- Here is the main page-->
<div class="container">
  <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>"><%= value %></div>
  <% end %>
  
  <%= yield %>
</div>

<!-- Here is footer -->
<hr>
<footer>
  <center>&copy; 2013 John &middot; <%= link_to "About", about_path %> &middot; <%= link_to "Blog", "http://www.readate.com" %>
  </center>
</footer>

</body>
</html>