<!DOCTYPE html>
<html>
<head>
  <title>CourseSalon &middot; <%= yield(:title)%></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>

<body>

<!-- 这里是导航-->
<div class="navbar navbar-inverse navbar-fixed-top static">
  <div class="navbar-inner">
    <div class="container">

<!--这里自适应没有调试好
 <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
-->

      <a class="brand" href="/">CourseSalon</a>
      
      <ul class="nav">
      <!-- 这里active还需要改进，让每一个当前页面都能够激活 <li class="active"><%= link_to "Home", root_path %></li> -->
          <li class="divider-vertical"></li> 
  <!--这里取消判断，把判断放在root里面，登录显示首页，否则显示介绍页面-->
          <li>  <%= link_to "Home", root_url %> </li>
          <li class="divider-vertical"></li> 

        <li><%= link_to "Users", users_path %></li>
          <li class="divider-vertical"></li> 
        <li><%= link_to "Courses", courses_path %></li>
          <li class="divider-vertical"></li> 
<!--这里是toolbox的下拉菜单-->  
      <li class="dropdown">      
        <li><a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <b>Toolbox</b><b class="caret"></b></a>
              <ul class="dropdown-menu pull-right"><!--注意这里有个小陷阱：覆盖pull-left-->
                <li><%= link_to "chat room", '/chatroom' %></li>
                <li><%= link_to "Salons", '#' %></li>
                  <li class="divider"></li>
                <li><%= link_to "more", '#' %></li>
              </ul>
        </li>
      </li>    
    </ul>
<!--导航中部-搜索框-->
<form class="navbar-search pull-left span2">
  <input type="text" class="search-query" placeholder="Search">
</form>

<!--导航右侧-拉菜单-->      
      <ul class="nav nav-pills pull-right">
          <% if current_user %>
            <li><%= link_to current_user.name, current_user %></li>
            
            <li><a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <i class=" icon-user icon-white"></i><b class="caret"></b></a>
              <ul class="dropdown-menu"> <!--这里path要有参数！！！-->
                <li><%= link_to "update profile", edit_user_path(current_user) %></li>
                <li class="divider"></li>
                <li><%= link_to "messages", '#' %></li>
                <li class="divider"></li>
                  <li><%= link_to " Log out", logout_path, method: "delete", data: { confirm: "Sure to logout?" }%> </li>  
             </ul>
            </li>
          <% else %>
            <li><%= link_to "Sign in", login_path %></li>
          <% end %>
      </ul>

    </div>
  </div>
</div>
<!--导航部分结束-->


<!-- 这里是页面中间-主页面部分-->
<div class="container">
  <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>"><%= value %></div>
  <% end %>
  
  <%= yield %>
</div>


<!-- 这里是footer -->
<hr>
<footer>
  <center>
       &copy;<%= link_to "  Noff.us", "http://noff.us" %>   2013    &middot; 
    <%= link_to "John's blog", "http://blog.noff.us" %>  &middot;    
    <%= link_to "About us", about_path %>
    |
    Powered by 
    <%= link_to "Rails", "http://rubyonrails.org/" %> &    
    <%= link_to "Bootstrap", "http://twitter.github.io/bootstrap/" %>
    &middot;
    Inspired by 
    <%= link_to "RailsCasts", "http://railscasts.com" %> &    
    <%= link_to "Rails Tutorial", "http://ruby.railstutorial.org/" %> 
  </center>
</footer>

</body>
</html>